{% extends 'layout.html' %}
{% load static %}

{% block title %} Contact Me {% endblock %}

{% block content %}
<div class="contact-section">
    <h1>Let's Get in Touch!</h1>
    <p>If you have any ideas, collaborations, or just want to say hi — feel free to reach out!</p>
    <div class="contact-details">
        <p><strong>Email:</strong> sushantpahari06@email.com</p>
        <p><strong>Phone:</strong> +977-9806768649</p>
        <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/sushant-pahari" target="_blank">Sushant Pahari</a></p>
        <p><strong>GitHub:</strong> <a href="https://github.com/Sushant7-codes" target="_blank">github.com/sushantpahari</a></p>
    </div>
</div>
{% endblock %}
