{% extends 'layout.html' %}

{% block title %} Education {% endblock %}

{% block content %}
<div class="education-container">
    <h1 class="edu-title">📚 My Educational Journey</h1>
    <table class="education-table">
        <thead>
            <tr>
                <th>Level</th>
                <th>Institution</th>
                <th>GPA</th>
                <th>Passing Year</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>BLE</td>
                <td><a href="https://ssha.edu.np/">Smile Small Heaven Academy</a></td>
                <td>3.64</td>
                <td>2018</td>
            </tr>
            <tr class="divider"><td colspan="4"></td></tr>

            <tr>
                <td>SEE</td>
                <td><a href="https://ssha.edu.np/">Smile Small Heaven Academy</a></td>
                <td>3.95</td>
                <td>2020</td>
            </tr>
            <tr class="divider"><td colspan="4"></td></tr>

            <tr>
                <td>SLC <br><span class="small-text">(Science)</span></td>
                <td><a href="https://www.facebook.com/amarsinghmodelsecondaryschool/">Shree Amarsingh H.S.S</a></td>
                <td>
                    <div class="grades">
                        <span>3.51 <span class="small-text">(Grade 11)</span></span>
                        <div class="grade-divider"></div>
                        <span>3.44 <span class="small-text">(Grade 12)</span></span>
                    </div>
                </td>
                <td>
                    <div class="years">
                        <span>2021</span>
                        <div class="year-divider"></div>
                        <span>2022</span>
                    </div>
                </td>
            </tr>
            <tr class="divider"><td colspan="4"></td></tr>

            <tr>
                <td rowspan="8">Bachelor’s <br><span class="small-text">B.Sc.CSIT</span></td>
                <td rowspan="8">
                    <a href="https://prnc.tu.edu.np/">Prithvi Narayan Campus</a><br>
                    <a href="https://tu.edu.np/">Tribhuvan University</a>
                </td>
                <td colspan="2">
                    <table class="semester-table">
                        <thead>
                            <tr>
                                <th>Semester</th>
                                <th>GPA</th>
                                <th>Passing Year</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr><td>1st</td><td>3.46</td><td>2023</td></tr>
                            <tr><td>2nd</td><td>3.24</td><td>2023</td></tr>
                            <tr><td>3rd</td><td>3.24</td><td>2024</td></tr>
                            <tr><td>4th</td><td>3.32</td><td>2025</td></tr>
                            <tr><td>5th</td><td>Currently Going On</td><td>-</td></tr>
                            <tr><td>6th</td><td>-</td><td>-</td></tr>
                            <tr><td>7th</td><td>-</td><td>-</td></tr>
                            <tr><td>8th</td><td>-</td><td>-</td></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}
